<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>CRUD Producto</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>..::SISTEMA::..</title>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" >
<link rel="stylesheet" th:href="@{/datatables/datatables.min.css}" >
<link rel="stylesheet" th:href="@{/datatables/DataTables-1.12.1/css/dataTables.bootstrap4.min.css}" >
<link rel="stylesheet" th:href="@{/css/main.css}" >

 
</head>
<body>

<header>
	<h3 class="text-center text-light">SISTEMA</h3>
	<h4 class="text-center text-light">CRUD PRODUCTO</h4>  
</header>


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<button id="btnNuevo" type="button" class="btn btn-success" data-toggle="modal">Nuevo</button>    
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table id="tablaProductos" class="table table-striped table-bordered table-condensed" style="width:100%;">
				   <thead class="text-center">
				    <tr>
				     <th>ID</th>
				     <th>NOMBRE</th>
				     <th>MARCA</th>
				     <th>MODELO</th>
				     <th>PRECIO</th>
				     <th>ACCIONES</th>
				    </tr>
				   </thead>
				   <tbody>
				    <tr th:each="item : ${productos}">
				     <td th:text="${item.id}"></td>
				     <td th:text="${item.nombre}"></td>
				     <td th:text="${item.marca}"></td>
				     <td th:text="${item.modelo}"></td>
				     <td th:text="${item.precio}"></td>
				     <td> 
				     	<div class="text-center">
				     		<div class="btn-group">
				     			<button class="btn btn-primary btnEditar">Editar</button>
				     			<button class="btn btn-danger btnBorrar">Borrar</button>
				     		</div>
				     	</div>
	
				     </td>
				    </tr>
				   </tbody>
				  </table>
			</div>
		</div>
	</div>
</div>


<!--Modal para CRUD-->
<div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form id="formProductos">    
            <div class="modal-body">
                <div class="form-group">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                <label for="pais" class="col-form-label">Marca:</label>
                <input type="text" class="form-control" id="marca">
                </div> 
                <div class="form-group">
                <label for="pais" class="col-form-label">Modelo:</label>
                <input type="text" class="form-control" id="modelo">
                </div>                 
                <div class="form-group">
                <label for="edad" class="col-form-label">Precio:</label>
                <input type="number" class="form-control" id="precio">
                </div>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
            </div>
        </form>    
        </div>
    </div>
</div> 
 
  
 </div>
 <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>